<div class="col mb-5">
  
    <!-- Product image-->
   
    <!-- Product details
    <div class="card-body p-4">
      <div class="text-center">
         Product name
        <h5 class="fw-bolder">{{room.roomNumber}}</h5>
         Product price
        Hotel - {{room.name}}
        <br>People: {{room.availablePpl}}
        <br />Price per night: {{room.price}}$

      </div>
    </div>
  -->

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Broj sobe: {{room.roomNumber}}, Naziv hotela - {{room.name}}, Broj osoba: {{room.availablePpl}}, Cena nocenja: {{room.price}}$ </li>
    </ul>

    <!-- Product actions
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
    </div>
  -->
</div>