@import "~bootstrap/dist/css/bootstrap.css";
body {
    font-family: 'Times New Roman', serif;
    background-color: #842025;
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333;
    font-weight: bold;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    background-color: #f39393;
    border: none;
}

.card {
    
    border-style: none;
    max-height: 70%;
    margin-left: 10px;
}